@import '../../scss/variables';

.container {
   margin: 0 auto;
   max-width: 600px;
   text-align: center;
   padding: 50px 20px;
   .icon {
      font-size: 60px;
   }
   h2 {
      font-size: 40px;
      line-height: 1.2;
      .mainHref {
         color: $orange;
      }
   }
}